<body>

    <div class="bg" >
        <a routerLink="/add/0" class=" btn btn-primary  mb-3" style="margin-top: 25px;">Book Now</a>
        <!--(click)="addClick() (click)="editClick(book.bookingId)""-->





        <table class="table table-striped">
            <thead class="thead-light" style="color: white;">
                <tr>
                   <!--<th>BookingId</th>--> 
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <!-- <th>Address</th>--> 
                    <th>City</th>
                    <th>Provience</th>
                    <th>Zip</th>
                    <th>Mobitel number</th>
                    <th>Room type</th>
                    <th>Smoking room</th>
                    <th>Pocket WIFI</th>
                    <th></th>
                    <th></th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books" style=" color: white;">
                    <!--<tr *ngIf ="books">-->
                   <!-- <td>{{book.bookingId}}</td>--> 
                    <td>{{book.firstName}}</td>
                    <td>{{book.lastName}}</td>
                    <td>{{book.email}}</td>
                    <!-- <td>{{book.streetAddress}}</td>--> 
                    <td>{{book.city}}</td>
                    <td>{{book.provience}}</td>
                    <td>{{book.zipCode}}</td>
                    <td>{{book.phone_Number}}</td>
                    <td>{{book.roomType}}</td>
                    <td>{{book.smokingRoom}}</td>
                    <td>{{book.leasePocketWIFI}}</td>
                    <td><a [routerLink]="['/Edit',book.bookingId]" style="color: white;">Edit</a></td>
                    <td> <button type="submit" class="btn btn-primary" (click)="deleteClick(book.bookingId)">X</button>
                    </td>


                </tr>
            </tbody>
        </table>
    </div>

    <!-- <div style="margin-bottom: 10px;">
        <form>
                     
            <div class="d-flex flex-row bd-highlight mb-3" >
                <img   style="height: 50px; width: 150px;" 
                [src]="PhotoPath+PhotoFileName" alt=" PhotoFileName"/>
                <input class="m-2" type="file" (change)="imageUpload($event)">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
         </form>
        </div>
-->
    <div class="form-group" style="margin: 50px;">

        <div class="custom-file">

            <input #file type="file" id="customFile" accept=".jpg,.png,.gif" (change)="imagePreview($event)" />
            <button type="submit" class="btn btn-primary" (click)="upload(file.files)">submit</button>
            <div *ngIf="filePath && filePath !== ''">
                <img style="height: 150px; width: 150px;"   [src]="filePath" [alt]="myForm.value.name">


            </div>
        </div>
        <div>

            <!-- <label class="custom-file-label" for="customFile">Choose file</label>-->
        </div>
    </div>



    <!--  <form [formGroup]="myForm" (ngSubmit)="submit()">

            <div *ngIf="filePath && filePath !== ''">
              <img style="height: 150px; width: 150px;" [src]="filePath" [alt]="myForm.value.name">
            </div>
          
          <input type="file" accept="image/*" (change)="imagePreview($event)" />
          
            <input formControlName="filename" placeholder="File name">
          
            <button type="submit">Upload</button>
          </form>-->
</body>