<body>
  <div class="bg">

    <div style="padding-top: 50px;  " class="center ">
      <div class="InputData" style="background-color: white; width: 95%; border-radius: 20px; ">
        <form novalidate #form="ngForm" autocomplete="off">
          <!--(submit)="onSubmit(form)"-->
          <h1 style="color: blue;">Registration form</h1>
          <input type="hidden" name="BookingId" [value]="service.formData.BookingId" />
          <!--<input type="hidden" name="BookingId" *ngIf="id1!=0"  [value]="{{books.BookingId}}"/>-->
          <div class="row">
            <div class="col-md-6">
              <label for="FirstName">First Name</label>
              <input type="text" ngModel class="form-control" name="FirstName" #FirstName="ngModel"
                [(ngModel)]="service.formData.FirstName" id="FirstName" value="{{books.firstName}}"
                placeholder="First Name" required [class.invalid]="FirstName.invalid  && FirstName.touched">
            </div>
            <div class="col-md-6">
              <label for="LastName">Last Name</label>
              <input type="text" ngModel class="form-control" name="LastName" #LastName="ngModel"
                [(ngModel)]="service.formData.LastName" id="LastName" value="{{books.lastName}}" placeholder="Last Name"
                required [class.invalid]="LastName.invalid  && LastName.touched">
            </div>
          </div>

          <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" ngModel class="form-control" name="Email" #Email="ngModel"
              [(ngModel)]="service.formData.Email" id="Email" value="{{books.email}}" placeholder="Email" required
              [class.invalid]="Email.invalid  && Email.touched">
          </div>

          <div class="form-group">
            <label for="Address">Address</label>
            <input type="text" ngModel class="form-control" name="StreetAddress" #StreetAddress="ngModel"
              [(ngModel)]="service.formData.StreetAddress" id="StreetAddress" value="{{books.streetAddress}}"
              placeholder="1234 Main St" required [class.invalid]="StreetAddress.invalid  && StreetAddress.touched">
          </div>



          <div class="row">
            <div class=" col-md-6">
              <label for="City">City</label>
              <input type="text" ngModel class="form-control" name="City" #City="ngModel"
                [(ngModel)]="service.formData.City" id="City" value="{{books.city}}" required
                [class.invalid]="City.invalid  && City.touched">
            </div>
            <div class=" col-md-4">
              <label for="Provience">Provience</label>
              <input type="text" ngModel class="form-control" name="Provience" #Provience="ngModel"
                [(ngModel)]="service.formData.Provience" id="Provience" value="{{books.provience}}" required
                [class.invalid]="Provience.invalid  && Provience.touched">

            </div>
            <div class=" col-md-2">
              <label for="ZipCode">Zip</label>
              <input type="text" ngModel class="form-control" name="ZipCode" #ZipCode="ngModel"
                [(ngModel)]="service.formData.ZipCode" id="Zip" value="{{books.zipCode}}" required
                [class.invalid]="ZipCode.invalid  && ZipCode.touched">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="Mobilenumber">Mobile number </label>
              <input type="text" ngModel class="form-control" name="Mobilenumber" #Mobilenumber="ngModel"
                [(ngModel)]="service.formData.Phone_Number" value="{{books.phone_Number}}" id="Mobilenumber"
                placeholder="Mobile number" required [class.invalid]="Mobilenumber.invalid  && Mobilenumber.touched">
            </div>

<!--
            <div class="col-md-6">
              <label for="Imageupload">Image upload </label>
              <input type="text" ngModel class="form-control" name="Imageupload" #Imageupload="ngModel"
                [(ngModel)]="service.formData.PhotoFileName" value="{{books.imageupload}}" id="Imageupload">
            </div>-->
          </div>

          <h3 style="margin-top:  10px; color:blueviolet;">Booking Information</h3>

          <div class="row">
            <div class=" col-md-6">
              <label for="RoomType">Room type</label>
              <!---<input type="text" ngModel class="form-control" name="RoomType" #Roomtype="ngModel" [(ngModel)]="service.formData.RoomType" value="{{books.roomType}}"  id="RoomType"  required >-->
              <select ngModel class="form-control" name="RoomType" #RoomType="ngModel"
                [(ngModel)]="service.formData.RoomType" id="RoomType" value="{{books.roomType}}">
                <option selected>Single</option>
                <option>Double</option>
                <option>Deluxe Room</option>
                <option>Double Deluxe Room</option>
              </select>
            </div>

            <div class=" col-md-4">
              <label for="SmokingRoom">Smoking Room</label>
              <!-- <input type="text" ngModel class="form-control" name="SmokingRoom" #SmokingRoom="ngModel" [(ngModel)]="service.formData.SmokingRoom"  id="SmokingRoom" value="{{books.smokingRoom}}" >-->
              <select ngModel class="form-control" name="SmokingRoom" #SmokingRoom="ngModel"
                [(ngModel)]="service.formData.SmokingRoom" id="SmokingRoom" value="{{books.smokingRoom}}">
                <option selected>Yes</option>
                <option>No</option>
              </select>
            </div>

            <div class=" col-md-2">
              <label for="LeasePocketWIFI">Lease Pocket WIFI</label>
              <select id="inputState" ngModel class="form-control" name="LeasePocketWIFI" #LeasePocketWIFI="ngModel"
                [(ngModel)]="service.formData.LeasePocketWIFI" id="LeasePocketWIFI" value="{{books.leasePocketWIFI}}">
                <option selected>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>

          <div style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary" *ngIf="id1===0" (click)="createClick(form)">create</button>

            <button type="submit" class="btn btn-primary" *ngIf="id1!=0" (click)="updateClick(form)">update</button>
          </div>
          <!--  (click)="createClick(onSubmit)"-(click)="updateClick(onSubmit)"[disabled]="form.invalid"-->
        </form>
      </div>
    </div>
  </div>
</body>